services:
  startupapi:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - "80:8080"
    restart: unless-stopped

  postgres:
    restart: unless-stopped

  pgadmin:
    restart: unless-stopped